<p>cart works!</p>
<div class="container">
    <h2>Cart</h2>
    <mat-card *ngFor="let item of cartItems" class="product-card">
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="item.images[0]" alt="{{ item.title }}">
      <mat-card-content>
        <p>{{ item.description }}</p>
        <p><strong>Stock:</strong> {{ item.stock }}</p>
      </mat-card-content>
    </mat-card>
    <button mat-raised-button color="warn" (click)="clearCart()">Clear Cart</button>
  </div>
  